<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Organization Details - Issue Overflow</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/assets/img/swirl-logo.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-primary bg-white" id="sidenavAccordion">
            <!-- Sidenav Toggle Button-->
            <button class="btn btn-icon btn-transparent-dark order-0 ms-2 me-0" id="sidebarToggle"><i data-feather="menu"></i></button>
            <!-- Navbar Brand-->
            <a class="navbar-brand pe-3 ps-0 ps-lg-2" href="/dashboard">
                <img src="/assets/img/swirl-logo.png" style="height: 1.0rem;" alt="">
                Issue Overflow
            </a>

            <!-- Navbar Items-->
            <ul class="navbar-nav align-items-center ms-auto">
                <!-- Contact Us Button-->
                <li class="nav-item no-caret">
                    <a class="btn btn-sm btn-transparent-dark" href="/contact-us" role="button">
                        <div class="fw-500">Contact Us</div>
                    </a>
                </li>

                <!-- Help Dropdown-->
                <li class="nav-item dropdown no-caret me-3 dropdown-notifications">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather-xl" data-feather="help-circle"></i></a>
                    <div class="dropdown-menu dropdown-menu-end py-0 me-sm-n15 me-lg-0 o-hidden animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                        <h6 class="dropdown-header dropdown-notifications-header">
                            <i class="me-2" data-feather="help-circle"></i>
                            Help
                        </h6>
                        <a class="dropdown-item py-3" href="/getting-started">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="book"></i></div>
                            <div>
                                <div class="small text-gray-500">Getting Started</div>
                                A guide for new users.
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="/knowledge-base">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="file-text"></i></div>
                            <div>
                                <div class="small text-gray-500">Knowledge Base</div>
                                Articles to help you understand
                                <br>
                                individual features and settings.
                            </div>
                        </a>
<!--                        <div class="dropdown-divider m-0"></div>-->
<!--                        <a class="dropdown-item py-3" href="https://github.com/sephraellumbres/Issue-Overflow" target="_blank">-->
<!--                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="github"></i></div>-->
<!--                            <div>-->
<!--                                <div class="small text-gray-500">Github</div>-->
<!--                                Code snippets and reference-->
<!--                            </div>-->
<!--                        </a>-->
                    </div>
                </li>
                <!-- User Dropdown-->
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:if="${currentUser.hasProfilePicture()}" th:src="@{'/storage/profile-picture/' + ${currentUser.id}}"
                             src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                        <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                    </a>                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <div class="h6 dropdown-header d-flex align-items-center">
                            <img th:if="${currentUser.hasProfilePicture()}" th:src="@{'/storage/profile-picture/' + ${currentUser.id}}"
                                 src="/assets/img/demo/user-placeholder.svg" class="dropdown-user-img" alt="">
                            <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg"
                                 class="dropdown-user-img" alt="">
                            <div class="dropdown-user-details">
                                <div th:text="${currentUser.getFullName()}" class="dropdown-user-details-name"></div>
                                <div th:text="${currentUser.email}" class="dropdown-user-details-email"></div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/account/profile/' + ${currentUser.id}}">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Account
                        </a>
                        <form th:action="@{/logout}" name="logoutButton" method="post">
                            <a href="javascript: logoutButton.submit();" class="dropdown-item">
                                <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                                Logout
                            </a>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">


                            <!-- START OF THE NORMAL SIDENAV -->
                            <!-- Sidenav Link (Dashboard)-->
                            <a class="nav-link" href="/dashboard">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Dashboard
                            </a>
                            <!-- Sidenav Link (Add Issue)-->
                            <!-- IF CURRENT USER IS INVOLVED IN MULTIPLE PROJECTS -->
                            <div sec:authorize="hasAnyAuthority('Project Manager', 'Admin', 'Developer')"
                                 th:if="${currentUserProjects.size() > 1}">
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                                   data-bs-target="#collapseAddIssue" aria-expanded="false" aria-controls="collapseAddIssue">
                                    <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                    Add Issue
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseAddIssue" data-bs-parent="#accordionSidenav">
                                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAddIssue">
                                        <a class="nav-link" th:href="@{'/issues/' + ${project.identifier} +'/new'}"
                                           th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}">
                                        </a>
                                    </nav>
                                </div>
                            </div>
                            <!-- IF CURRENT USER IS ONLY INVOLVED WITH A SINGLE PROJECT -->
                            <div sec:authorize="hasAnyAuthority('Project Manager', 'Admin', 'Developer')"
                                 th:if="${currentUserProjects.size() == 1}">
                                <a th:href="@{'/issues/' + ${currentUserProjects.get(0).identifier} + '/new'}" class="nav-link">
                                    <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                    Add Issue
                                </a>
                            </div>
                            <!-- Sidenav Link (Issues List)-->
                            <!-- IF CURRENT USER IS INVOLVED IN MULTIPLE PROJECTS -->
                            <div th:if="${currentUserProjects.size() > 1}">
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                                   data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                                    <div class="nav-link-icon"><i data-feather="list"></i></div>
                                    Issues
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseDashboards" data-bs-parent="#accordionSidenav">
                                    <a class="nav-link" th:href="@{'/issues/all'}">All Issues</a>
                                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                        <a class="nav-link" th:href="@{'/issues/' + ${project.identifier}}" th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}"></a>
                                    </nav>
                                </div>
                            </div>
                            <!-- IF CURRENT USER IS ONLY INVOLVED WITH A SINGLE PROJECT -->
                            <div th:if="${currentUserProjects.size() == 1}">
                                <a th:href="@{'/issues/' + ${currentUserProjects.get(0).identifier}}" class="nav-link">
                                    <div class="nav-link-icon"><i data-feather="list"></i></div>
                                    Issues
                                </a>
                            </div>
                            <!-- Sidenav Link (Organization)-->
                            <a class="nav-link active" href="/organization">
                                <div class="nav-link-icon"><i data-feather="globe"></i></div>
                                Organization
                            </a>
                            <!-- Sidenav Link (Projects)-->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                               data-bs-target="#collapseProjects" aria-expanded="false" aria-controls="collapseProjects">
                                <div class="nav-link-icon"><i data-feather="grid"></i></div>
                                Projects
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseProjects" data-bs-parent="#accordionSidenav">
                                <a class="nav-link" th:href="@{'/projects/all'}">All Projects</a>
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavProjects">
                                    <a class="nav-link" th:href="@{'/projects/' + ${project.identifier}}" th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}"></a>
                                </nav>
                            </div>
                            <!-- Sidenav Link (Users)-->
                            <a class="nav-link" href="/users">
                                <div class="nav-link-icon"><i data-feather="users"></i></div>
                                Users
                            </a>
                            <!-- Sidenav Link (Account) -->
                            <a class="nav-link" th:href="@{'/account/profile/' + ${currentUser.id}}">
                                <div class="nav-link-icon"><i data-feather="settings"></i></div>
                                Account
                            </a>

                        </div>
                    </div>
                    <!-- Sidenav Footer-->
                    <div class="sidenav-footer">
                        <div class="sidenav-footer-content">
                            <div class="sidenav-footer-subtitle">Logged in as:</div>
                            <div th:text="${currentUser.getFullName()}" class="sidenav-footer-title"></div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-fluid px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="globe"></i></div>
                                            Organization Details
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <a class="btn btn-sm btn-light text-primary" href="/projects/all">
                                            <i class="me-1" data-feather="users"></i>
                                            Manage Projects
                                        </a>
                                        <a sec:authorize="hasAuthority('Project Manager')" class="btn btn-sm btn-light text-primary" data-bs-toggle="modal" data-bs-target="#viewAccessKeyModal">
                                            <i class="me-1" data-feather="key"></i>
                                            Access Key
                                        </a>
                                        <a sec:authorize="hasAuthority('Project Manager')" class="btn btn-sm btn-light text-primary" data-bs-toggle="modal" data-bs-target="#editOrganizationModal">
                                            <i class="me-1" data-feather="edit"></i>
                                            Edit Organization
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-fluid px-4">

                        <!-- Popup alerts -->
                        <div th:text="${updateOrganizationSuccess}" th:if="${updateOrganizationSuccess}" id="popupAlerts" class="alert alert-success alert-dismissible fade show text-center mt-n1" role="alert"></div>
                        <div th:text="${updateOrganizationError}" th:if="${updateOrganizationError}" id="popupAlerts" class="alert alert-danger alert-dismissible fade show text-center mt-n1" role="alert"></div>

                        <!-- ALERT MESSAGE IF THE CURRENT USER HAS NOTIFICATIONS ENABLED BUT EMAIL IS NOT VERIFIED -->
                        <div th:text="${verificationEmailSentSuccess}" th:if="${verificationEmailSentSuccess}" id="popupAlerts" class="alert alert-success alert-dismissible fade show text-center mt-n1" role="alert"></div>
                        <div th:text="${verificationEmailSentError}" th:if="${verificationEmailSentError}" id="popupAlerts" class="alert alert-danger alert-dismissible fade show text-center mt-n1" role="alert"></div>
                        <div th:if="${currentUser.isNotificationsEnabled() && !currentUser.isEmailVerified()}" class="alert alert-danger text-center mt-n2" role="alert">
                            <i data-feather="alert-triangle" class="feather-lg"></i>
                            Please verify email address to receive notifications. <a href="/resend-verification-email" style="cursor: pointer" class="alert-link">Resend verification email</a>.
                        </div>

                        <!-- ALERT MESSAGE IF CURRENT USER IS NOT INVOLVED WITH ANY PROJECT -->
                        <div sec:authorize="hasAuthority('Project Manager')" th:if="${currentUser.getProjects().isEmpty()}" class="alert alert-danger text-center mt-n2" role="alert">
                            <i data-feather="alert-triangle" class="feather-lg"></i>
                            Please <a data-bs-toggle="modal" data-bs-target="#createProjectModal" style="cursor: pointer" class="alert-link">create a project</a> to start tracking Issues
                        </div>

                        <!-- Create project modal-->
                        <div sec:authorize="hasAuthority('Project Manager')" th:if="${currentUser.getProjects().isEmpty()}" class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="createProjectModalLabel">Create New Project</h5>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="#" th:action="@{/projects/new}" th:object="${newProject}" method="post">
                                        <div class="modal-body">
                                            <div class="mb-0">
                                                <label class="mb-1" for="createFormProjectName" style="font-size: 14px">Project Name<span style="color: red">*</span></label>
                                                <input th:field="*{name}" class="form-control mb-3" id="createFormProjectName" type="text" placeholder="Enter project name..." required/>

                                                <label class="mb-1" for="createFormProjectIdentifier" style="font-size: 14px">Project ID<span style="color: red">*</span></label>
                                                <input th:field="*{identifier}" style="text-transform: uppercase;" class="form-control" id="createFormProjectIdentifier" type="text" required/>
                                                <p class="form-text mb-n2" style="font-size: 12px">The project ID is a unique identifier for a project. A short, concise key is recommended.</p>
                                                <p class="form-text mb-2" style="font-size: 12px">(e.g. Project ID for 'Call of Duty' could be 'COD') Uppercase letters (A-Z), numbers (0-9) and underscore (_) can be used.</p>

                                                <label class="mb-1" for="color" style="font-size: 14px;">Project Color<span style="color: red">*</span></label>
                                                <select th:field="*{color}" name="color" class="form-control mb-auto" id="color">
                                                    <option value="" disabled>Select a color:</option>
                                                    <option value="blue">Blue</option>
                                                    <option value="cyan">Cyan</option>
                                                    <option value="green">Green</option>
                                                    <option value="indigo">Indigo</option>
                                                    <option value="orange">Orange</option>
                                                    <option value="pink">Pink</option>
                                                    <option value="purple">Purple</option>
                                                    <option value="red">Red</option>
                                                    <option value="teal">Teal</option>
                                                    <option value="yellow">Yellow</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                                            <button class="btn btn-primary-soft text-primary" type="submit">Create New Project</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Edit Organization Modal -->
                        <div sec:authorize="hasAuthority('Project Manager')" class="modal fade" id="editOrganizationModal" tabindex="-1" role="dialog" aria-labelledby="editOrganizationModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editOrganizationModalLabel">Edit Organization</h5>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form th:action="@{/organization/update}" method="post">
                                        <div class="modal-body">
                                            <div class="mb-0">
                                                <label class="mb-1" for="editOrganization" style="font-size: 14px;">Organization Name<span style="color: red">*</span></label>
                                                <div class="d-flex">
                                                    <input th:value="${currentUser.getOrganization().id}" th:name="id" class="form-control" id="id" type="hidden" readonly/>
                                                    <input th:value="${currentUser.getOrganization().getName()}" th:name="organizationName" class="form-control" id="editOrganization" type="text" placeholder="Enter organization name..."/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                                            <button class="btn btn-primary-soft text-primary" type="submit">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card bg-gradient-primary-to-secondary mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <div class="small text-white-50">Organization Name:</div>
                                        <div th:text="${currentUser.organization.name}" class="h1 text-white"></div>
                                    </div>
                                    <div class="text-white"><span th:text="${currentUser.organization.getUsers().size()}"></span> Member(s)</div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${!projectManagers.isEmpty()}" class="card mb-2">
                            <div class="card-body">
                                <div class="small text-muted mb-2">Project Managers:</div>
                                <div class="row">
                                    <div th:each="projectManager, list : ${projectManagers}" class="col-lg-4"
                                         th:classappend="${list.index < list.size - 3 ? 'mb-3' : 'mb-xs-3 mb-sm-3 mb-lg-0'}">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-lg">
                                                <img th:if="${projectManager.hasProfilePicture()}" th:src="@{'/storage/profile-picture/' + ${projectManager.id}}"
                                                     src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="">
                                                <img th:unless="${projectManager.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="">
                                            </div>
                                            <div class="ms-3">
                                                <div th:text="${projectManager.getFullName()}" class="fs-4 text-dark fw-500"></div>
                                                <div th:text="${projectManager.role.name}" class="small text-muted"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:if="${!admins.isEmpty()}" class="card mb-2">
                            <div class="card-body">
                                <div class="small text-muted mb-2">Administrators:</div>
                                <div class="row">
                                    <div th:each="admin, list : ${admins}" class="col-lg-4"
                                         th:classappend="${list.index < list.size - 3 ? 'mb-3' : 'mb-xs-3 mb-sm-3 mb-lg-0'}">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-lg">
                                                <img th:if="${admin.hasProfilePicture()}" th:src="@{'/storage/profile-picture/' + ${admin.id}}"
                                                     src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="">
                                                <img th:unless="${admin.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="">
                                            </div>
                                            <div class="ms-3">
                                                <div th:text="${admin.getFullName()}" class="fs-4 text-dark fw-500"></div>
                                                <div th:text="${admin.role.name}" class="small text-muted"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:if="${!developers.isEmpty()}" class="card mb-2">
                            <div class="card-body">
                                <div class="small text-muted mb-2">Developers:</div>
                                <div class="row">
                                    <div th:each="developer, list : ${developers}" class="col-lg-4"
                                         th:classappend="${list.index < list.size - 3 ? 'mb-3' : 'mb-xs-3 mb-sm-3 mb-lg-0'}">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-lg">
                                                <img th:if="${developer.hasProfilePicture()}" th:src="@{'/storage/profile-picture/' + ${developer.id}}"
                                                     src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="">
                                                <img th:unless="${developer.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="">
                                            </div>
                                            <div class="ms-3">
                                                <div th:text="${developer.getFullName()}" class="fs-4 text-dark fw-500"></div>
                                                <div th:text="${developer.role.name}" class="small text-muted"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:if="${!guests.isEmpty()}" class="card mb-2">
                            <div class="card-body">
                                <div class="small text-muted mb-2">Guests:</div>
                                <div class="row">
                                    <div th:each="guest, list : ${guests}" class="col-lg-4"
                                         th:classappend="${list.index < list.size - 3 ? 'mb-3' : 'mb-xs-3 mb-sm-3 mb-lg-0'}">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-lg">
                                                <img th:if="${guest.hasProfilePicture()}" th:src="@{'/storage/profile-picture/' + ${guest.id}}"
                                                     src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="">
                                                <img th:unless="${guest.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="">
                                            </div>
                                            <div class="ms-3">
                                                <div th:text="${guest.getFullName()}" class="fs-4 text-dark fw-500"></div>
                                                <div th:text="${guest.role.name}" class="small text-muted"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- View Access Key Modal -->
                    <div sec:authorize="hasAuthority('Project Manager')" class="modal fade" id="viewAccessKeyModal" tabindex="-1" role="dialog" aria-labelledby="viewAccessKeyModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 th:text="${currentUser.organization.name} + ' Access Key'" class="modal-title" id="viewAccessKeyModalLabel"></h5>
                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                    <div class="modal-body">
                                        <div class="mb-0">
                                            <label class="mb-1 small text-muted" for="viewAccessKey">Organization Access Key</label>
                                            <div class="d-flex">
                                                <input th:value="${currentUser.organization.getAccessKey()}" class="form-control" id="viewAccessKey" type="text" readonly/>
                                                <button class="btn btn-primary ms-2" onclick="copyToClipboard()"><i data-feather="clipboard"></i></button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </main>
                <footer class="footer-admin mt-auto footer-light">
                    <div class="container-xl px-4">
                        <div class="text-end small">
                            <a href="/privacy" target="_blank">Privacy Policy</a>
                            <!--&middot;-->
                            <!--<a href="#!">Terms &amp; Conditions</a>-->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script type="text/javascript">
            function copyToClipboard() {
                let textToCopy = document.getElementById('viewAccessKey');

                textToCopy.select();
                textToCopy.setSelectionRange(0, 99999);

                navigator.clipboard.writeText(textToCopy.value);
            }

            // displays popup alerts
            let buttonElement = document.createElement("button");
            buttonElement.className = "btn-close";
            buttonElement.setAttribute("data-bs-dismiss", "alert");
            buttonElement.setAttribute("aria-label", "Close");
            buttonElement.setAttribute("type", "button");
            document.getElementById("popupAlerts").appendChild(buttonElement);
        </script>
    </body>
</html>
