<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Organization Category - Issue Overflow Knowledge Base</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/assets/img/swirl-logo.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="shadow navbar-primary bg-white">
            <nav class="container-xl topnav navbar navbar-expand justify-content-between justify-content-sm-start">
                <!-- Navbar Brand-->
                <a class="navbar-brand ps-4" href="/dashboard">
                    <img src="/assets/img/swirl-logo.png" style="height: 1.0rem;" alt="">
                    Issue Overflow
                </a>
                <!-- Navbar Items-->
                <ul class="navbar-nav align-items-center ms-auto">
                    <!-- Contact Us Button-->
                    <li class="nav-item no-caret">
                        <a class="btn btn-sm btn-transparent-dark" href="/contact-us" role="button">
                            <div class="fw-500">Contact Us</div>
                        </a>
                    </li>
                    <!-- Help Dropdown-->
                    <li class="nav-item dropdown no-caret me-3 dropdown-notifications">
                        <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts"
                           href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"><i class="feather-xl" data-feather="help-circle"></i></a>
                        <div class="dropdown-menu dropdown-menu-end py-0 me-sm-n15 me-lg-0 o-hidden animated--fade-in-up"
                             aria-labelledby="navbarDropdownDocs">
                            <h6 class="dropdown-header dropdown-notifications-header">
                                <i class="me-2" data-feather="help-circle"></i>
                                Help
                            </h6>
                            <a class="dropdown-item py-3" href="/getting-started">
                                <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="book"></i></div>
                                <div>
                                    <div class="small text-gray-500">Getting Started</div>
                                    A guide for new users.
                                </div>
                            </a>
                            <div class="dropdown-divider m-0"></div>
                            <a class="dropdown-item py-3" href="/knowledge-base">
                                <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="file-text"></i>
                                </div>
                                <div>
                                    <div class="small text-gray-500">Knowledge Base</div>
                                    Updates and changes
                                </div>
                            </a>
                            <div class="dropdown-divider m-0"></div>
                            <a class="dropdown-item py-3" href="#">
                                <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="list"></i></div>
                                <div>
                                    <div class="small text-gray-500">Issues</div>
                                    Issues
                                </div>
                            </a>
                            <div class="dropdown-divider m-0"></div>
                            <a class="dropdown-item py-3" href="https://github.com/sephraellumbres/IssueTrackingSystem"
                               target="_blank">
                                <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="github"></i>
                                </div>
                                <div>
                                    <div class="small text-gray-500">Github</div>
                                    Code snippets and reference
                                </div>
                            </a>
                        </div>
                    </li>
                    <!-- LOGIN BUTTON IF NOT AUTHENTICATED -->
                    <li sec:authorize="isAnonymous()" class="nav-item no-caret">
                        <a class="btn btn-sm btn-outline-dark" href="/login" role="button">
                            <div class="fw-500">Login</div>
                        </a>
                    </li>
                    <!-- User Dropdown (IS ONLY DISPLAY IF USER IS AUTHENTICATED) -->
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                        <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage"
                           href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <img th:if="${currentUser.hasProfilePicture()}"
                                 th:src="@{'/files/' +${currentUser.id} + '/true'}"
                                 src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                            <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg"
                                 class="img-fluid" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
                             aria-labelledby="navbarDropdownUserImage">
                            <div class="h6 dropdown-header d-flex align-items-center">
                                <img th:if="${currentUser.hasProfilePicture()}"
                                     th:src="@{'/files/' +${currentUser.id} + '/true'}"
                                     src="/assets/img/demo/user-placeholder.svg" class="dropdown-user-img" alt="">
                                <img th:unless="${currentUser.hasProfilePicture()}"
                                     src="/assets/img/demo/user-placeholder.svg"
                                     class="dropdown-user-img" alt="">
                                <div class="dropdown-user-details">
                                    <div th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}"
                                         class="dropdown-user-details-name"></div>
                                    <div th:text="${currentUser.email}" class="dropdown-user-details-email"></div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{'/account/profile/' + ${currentUser.id}}">
                                <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                                Account
                            </a>
                            <form th:action="@{/logout}" name="logoutButton" method="post">
                                <a href="javascript: logoutButton.submit();" class="dropdown-item">
                                    <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                                    Logout
                                </a>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <main>
            <header class="page-header page-header-dark bg-gradient-primary-to-secondary mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="life-buoy"></i></div>
                                    Knowledge Base
                                </h1>
                            </div>
                        </div>

                        <nav class="mt-4 rounded" aria-label="breadcrumb">
                            <ol class="breadcrumb px-3 py-2 rounded mb-0">
                                <li class="breadcrumb-item"><a href="/knowledge-base">Knowledge Base</a></li>
                                <li class="breadcrumb-item active">Organization</li>
                            </ol>
                        </nav>

                        <div class="page-header-search mt-4">
                            <div class="input-group input-group-joined">
                                <span class="input-group-text me-n3"><i data-feather="search"></i></span>
                                <input class="form-control" type="text" placeholder="How can we help you?" aria-label="Search" autofocus />
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4">
                <!-- ORGANIZATION CATEGORY -->
                <h2 class="mb-0 mt-5">Organization</h2>
                <hr class="mt-2 mb-4" />
                <!-- VIEW ORGANIZATION DETAILS -->
                <a class="card card-icon lift lift-sm mb-4" href="/knowledge-base/organization/view-organization-details">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="h5 card-title mb-0">View Organization Details</div>
                            <i class="flex-shrink-0 ms-4" data-feather="chevron-right"></i>
                        </div>
                    </div>
                </a>
                <!-- VIEW ACCESS KEY -->
                <a class="card card-icon lift lift-sm mb-4" href="/knowledge-base/organization/view-access-key">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="h5 card-title mb-0">View Access Key</div>
                            <i class="flex-shrink-0 ms-4" data-feather="chevron-right"></i>
                        </div>
                    </div>
                </a>
                <!-- EDIT ORGANIZATION NAME -->
                <a class="card card-icon lift lift-sm mb-4" href="/knowledge-base/organization/edit-organization-name">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="h5 card-title mb-0">Edit Organization Name</div>
                            <i class="flex-shrink-0 ms-4" data-feather="chevron-right"></i>
                        </div>
                    </div>
                </a>
                <!-- knowledge base rating-->
                <div class="text-center mt-5">
                    <h4 class="mb-3">Was this page helpful?</h4>
                    <div class="mb-3">
                        <button class="btn btn-primary mx-2 px-3" role="button">
                            <i class="me-2" data-feather="thumbs-up"></i>
                            Yes
                        </button>
                        <button class="btn btn-primary mx-2 px-3" role="button">
                            <i class="me-2" data-feather="thumbs-down"></i>
                            No
                        </button>
                    </div>
                    <div class="text-small text-muted"><em>29 people found this page helpful so far!</em></div>
                </div>
            </div>
        </main>
        <footer class="footer-admin mt-auto footer-light">
            <div class="container-xl px-4">
                <div class="row">
                    <div class="col-md-6 small">Copyright &copy; Your Website 2021</div>
                    <div class="col-md-6 text-md-end small">
                        <a href="#!">Privacy Policy</a>
                        &middot;
                        <a href="#!">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>