<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Account Settings - Notifications - Issue Overflow</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/assets/img/swirl-logo.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-primary bg-white" id="sidenavAccordion">
            <!-- Sidenav Toggle Button-->
            <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
            <!-- Navbar Brand-->
            <a class="navbar-brand pe-3 ps-0 ps-lg-2" href="/dashboard">
                <img src="/assets/img/swirl-logo.png" style="height: 1.0rem;" alt="">
                Issue Overflow
            </a>

            <!-- Navbar Items-->
            <ul class="navbar-nav align-items-center ms-auto">
                <!-- Contact Us Button-->
                <li class="nav-item no-caret">
                    <a class="btn btn-sm btn-transparent-dark" href="/contact-us" role="button">
                        <div class="fw-500">Contact Us</div>
                    </a>
                </li>

                <!-- Help Dropdown-->
                <li class="nav-item dropdown no-caret me-3 dropdown-notifications">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather-xl" data-feather="help-circle"></i></a>
                    <div class="dropdown-menu dropdown-menu-end py-0 me-sm-n15 me-lg-0 o-hidden animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                        <h6 class="dropdown-header dropdown-notifications-header">
                            <i class="me-2" data-feather="help-circle"></i>
                            Help
                        </h6>
                        <a class="dropdown-item py-3" href="/getting-started">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="book"></i></div>
                            <div>
                                <div class="small text-gray-500">Getting Started</div>
                                A guide for new users.
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="/knowledge-base">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="file-text"></i></div>
                            <div>
                                <div class="small text-gray-500">Knowledge Base</div>
                                Articles to help you understand
                                <br>
                                individual features and settings.
                            </div>
                        </a>
<!--                        <div class="dropdown-divider m-0"></div>-->
<!--                        <a class="dropdown-item py-3" href="https://github.com/sephraellumbres/Issue-Overflow" target="_blank">-->
<!--                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="github"></i></div>-->
<!--                            <div>-->
<!--                                <div class="small text-gray-500">Github</div>-->
<!--                                Code snippets and reference-->
<!--                            </div>-->
<!--                        </a>-->
                    </div>
                </li>
                <!-- User Dropdown-->
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:if="${currentUser.hasProfilePicture()}" th:src="@{'/files/' +${currentUser.id} + '/true'}"
                             src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                        <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                    </a>                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <img th:if="${currentUser.hasProfilePicture()}" th:src="@{'/files/' +${currentUser.id} + '/true'}"
                                 src="/assets/img/demo/user-placeholder.svg" class="dropdown-user-img" alt="">
                            <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg"
                                 class="dropdown-user-img" alt="">
                            <div class="dropdown-user-details">
                                <div th:text="${currentUser.getFullName()}" class="dropdown-user-details-name"></div>
                                <div th:text="${currentUser.email}" class="dropdown-user-details-email"></div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/account/profile/' + ${currentUser.id}}">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Account
                        </a>
                        <form th:action="@{/logout}" name="logoutButton" method="post">
                            <a href="javascript: logoutButton.submit();" class="dropdown-item">
                                <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                                Logout
                            </a>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">


                            <!-- START OF THE NORMAL SIDENAV -->
                            <!-- Sidenav Link (Dashboard)-->
                            <a class="nav-link" href="/dashboard">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Dashboard
                            </a>
                            <!-- Sidenav Link (Add Issue)-->
                            <!-- IF CURRENT USER IS INVOLVED IN MULTIPLE PROJECTS -->
                            <div sec:authorize="hasAnyAuthority('Project Manager', 'Admin', 'Developer')"
                                 th:if="${currentUserProjects.size() > 1}">
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                                   data-bs-target="#collapseAddIssue" aria-expanded="false" aria-controls="collapseAddIssue">
                                    <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                    Add Issue
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseAddIssue" data-bs-parent="#accordionSidenav">
                                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAddIssue">
                                        <a class="nav-link" th:href="@{'/issues/' + ${project.identifier} +'/new'}"
                                           th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}">
                                        </a>
                                    </nav>
                                </div>
                            </div>
                            <!-- IF CURRENT USER IS ONLY INVOLVED WITH A SINGLE PROJECT -->
                            <div sec:authorize="hasAnyAuthority('Project Manager', 'Admin', 'Developer')"
                                 th:if="${currentUserProjects.size() == 1}">
                                <a th:href="@{'/issues/' + ${currentUserProjects.get(0).identifier} + '/new'}" class="nav-link">
                                    <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                    Add Issue
                                </a>
                            </div>
                            <!-- Sidenav Link (Issues List)-->
                            <!-- IF CURRENT USER IS INVOLVED IN MULTIPLE PROJECTS -->
                            <div th:if="${currentUserProjects.size() > 1}">
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                                   data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                                    <div class="nav-link-icon"><i data-feather="list"></i></div>
                                    Issues
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseDashboards" data-bs-parent="#accordionSidenav">
                                    <a class="nav-link" th:href="@{'/issues/all'}">All Issues</a>
                                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                        <a class="nav-link" th:href="@{'/issues/' + ${project.identifier}}" th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}"></a>
                                    </nav>
                                </div>
                            </div>
                            <!-- IF CURRENT USER IS ONLY INVOLVED WITH A SINGLE PROJECT -->
                            <div th:if="${currentUserProjects.size() == 1}">
                                <a th:href="@{'/issues/' + ${currentUserProjects.get(0).identifier}}" class="nav-link">
                                    <div class="nav-link-icon"><i data-feather="list"></i></div>
                                    Issues
                                </a>
                            </div>
                            <!-- Sidenav Link (Organization)-->
                            <a class="nav-link" href="/organization">
                                <div class="nav-link-icon"><i data-feather="globe"></i></div>
                                Organization
                            </a>
                            <!-- Sidenav Link (Projects)-->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                               data-bs-target="#collapseProjects" aria-expanded="false" aria-controls="collapseProjects">
                                <div class="nav-link-icon"><i data-feather="grid"></i></div>
                                Projects
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseProjects" data-bs-parent="#accordionSidenav">
                                <a class="nav-link" th:href="@{'/projects/all'}">All Projects</a>
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavProjects">
                                    <a class="nav-link" th:href="@{'/projects/' + ${project.identifier}}" th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}"></a>
                                </nav>
                            </div>
                            <!-- Sidenav Link (Users)-->
                            <a class="nav-link" href="/users">
                                <div class="nav-link-icon"><i data-feather="users"></i></div>
                                Users
                            </a>
                            <!-- Sidenav Link (Account) -->
                            <a class="nav-link active" th:href="@{'/account/profile/' + ${currentUser.id}}">
                                <div class="nav-link-icon"><i data-feather="settings"></i></div>
                                Account
                            </a>

                        </div>
                    </div>
                    <!-- Sidenav Footer-->
                    <div class="sidenav-footer">
                        <div class="sidenav-footer-content">
                            <div class="sidenav-footer-subtitle">Logged in as:</div>
                            <div th:text="${currentUser.getFullName()}" class="sidenav-footer-title"></div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-xl px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="user"></i></div>
                                            Account Settings - Notifications
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3" style="visibility: hidden;">
                                        <a class="btn btn-sm btn-light text-primary" href="/dashboard">
                                            Dashboard
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div th:classappend="${!currentUser.getProjects().isEmpty()} ? 'mt-n3'" class="container-xl px-4">

                        <!-- Popup alerts -->
                        <div th:text="${notificationsSuccess}" th:if="${notificationsSuccess}" id="popupAlerts" class="alert alert-success alert-dismissible fade show text-center mt-n1" role="alert"></div>
                        <div th:text="${notificationsError}" th:if="${notificationsError}" id="popupAlerts" class="alert alert-danger alert-dismissible fade show text-center mt-n1" role="alert"></div>

                        <!-- ALERT MESSAGE IF CURRENT USER IS NOT INVOLVED WITH ANY PROJECT -->
                        <div sec:authorize="hasAuthority('Project Manager')" th:if="${currentUser.getProjects().isEmpty()}" class="alert alert-danger text-center mt-n2" role="alert">
                            <i data-feather="alert-triangle" class="feather-lg"></i>
                            Please <a data-bs-toggle="modal" data-bs-target="#createProjectModal" style="cursor: pointer" class="alert-link">create a project</a> to start tracking Issues
                        </div>

                        <!-- ALERT MESSAGE IF THE CURRENT USER HAS NOTIFICATIONS ENABLED BUT EMAIL IS NOT VERIFIED -->
                        <div th:text="${verificationEmailSentSuccess}" th:if="${verificationEmailSentSuccess}" id="popupAlerts" class="alert alert-success alert-dismissible fade show text-center mt-n1" role="alert"></div>
                        <div th:text="${verificationEmailSentError}" th:if="${verificationEmailSentError}" id="popupAlerts" class="alert alert-danger alert-dismissible fade show text-center mt-n1" role="alert"></div>
                        <div th:if="${currentUser.isNotificationsEnabled() && !currentUser.isEmailVerified()}" class="alert alert-danger text-center mt-n2" role="alert">
                            <i data-feather="alert-triangle" class="feather-lg"></i>
                            Please verify email address to receive notifications. <a href="/resend-verification-email" style="cursor: pointer" class="alert-link">Resend verification email</a>.
                        </div>

                        <!-- Create project modal-->
                        <div sec:authorize="hasAuthority('Project Manager')" th:if="${currentUser.getProjects().isEmpty()}" class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="createProjectModalLabel">Create New Project</h5>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="#" th:action="@{/projects/new}" th:object="${newProject}" method="post">
                                        <div class="modal-body">
                                            <div class="mb-0">
                                                <label class="mb-1" for="createFormProjectName" style="font-size: 14px">Project Name<span style="color: red">*</span></label>
                                                <input th:field="*{name}" class="form-control mb-3" id="createFormProjectName" type="text" placeholder="Enter project name..." required/>

                                                <label class="mb-1" for="createFormProjectIdentifier" style="font-size: 14px">Project ID<span style="color: red">*</span></label>
                                                <input th:field="*{identifier}" style="text-transform: uppercase;" class="form-control" id="createFormProjectIdentifier" type="text" required/>
                                                <p class="form-text mb-n2" style="font-size: 12px">The project ID is a unique identifier for a project. A short, concise key is recommended.</p>
                                                <p class="form-text mb-2" style="font-size: 12px">(e.g. Project ID for 'Call of Duty' could be 'COD') Uppercase letters (A-Z), numbers (0-9) and underscore (_) can be used.</p>

                                                <label class="mb-1" for="color" style="font-size: 14px;">Project Color<span style="color: red">*</span></label>
                                                <select th:field="*{color}" name="color" class="form-control mb-auto" id="color">
                                                    <option value="" disabled>Select a color:</option>
                                                    <option value="blue">Blue</option>
                                                    <option value="cyan">Cyan</option>
                                                    <option value="green">Green</option>
                                                    <option value="indigo">Indigo</option>
                                                    <option value="orange">Orange</option>
                                                    <option value="pink">Pink</option>
                                                    <option value="purple">Purple</option>
                                                    <option value="red">Red</option>
                                                    <option value="teal">Teal</option>
                                                    <option value="yellow">Yellow</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                                            <button class="btn btn-primary-soft text-primary" type="submit">Create New Project</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Account page navigation-->
                        <nav class="nav nav-borders">
                            <a class="nav-link ms-0" th:href="@{'/account/profile/' + ${currentUser.id}}">Profile</a>
                            <a class="nav-link" th:href="@{'/account/security/' + ${currentUser.id}}">Security</a>
                            <a class="nav-link active" th:href="@{'/account/notifications/' + ${currentUser.id}}">Notifications</a>
                        </nav>
                        <hr class="mt-0 mb-4" />

                        <div class="row">
                            <div class="col-lg-8">
                                <!-- Email notifications preferences card-->
                                <div class="card card-header-actions mb-4">
                                    <div class="card-header">
                                        Email Notifications
                                    </div>
                                    <div class="card-body">
                                        <!-- Form Group (default email)-->
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputNotificationEmail">Default notification email</label>
                                            <div th:text="${user.email}" class="form-control" id="inputNotificationEmail" type="email" readonly></div>
                                        </div>
                                        <form action="#" th:action="@{'/account/notifications/' + ${user.id} + '/save'}" th:object="${user}" method="post">
                                            <!-- Form Group (email updates checkboxes)-->
                                            <div class="mb-0">
                                                <label class="small mb-2">Choose when email updates are sent</label>
                                                <div class="form-check mb-2">
                                                    <input th:name="created" th:checked="${user.isCreatedEnabled()}"
                                                           class="form-check-input" id="created" type="checkbox" />
                                                    <label class="form-check-label" for="created">When issues are created</label>
                                                </div>
                                                <div class="form-check mb-2">
                                                    <input th:name="updated" th:checked="${user.isUpdatedEnabled()}"
                                                           class="form-check-input" id="updated" type="checkbox" />
                                                    <label class="form-check-label" for="updated">When issues are updated</label>
                                                </div>
                                                <div class="form-check mb-4">
                                                    <input th:name="comments" th:checked="${user.isCommentsEnabled()}"
                                                           class="form-check-input" id="comments" type="checkbox" />
                                                    <label class="form-check-label" for="comments">When comments are added</label>
                                                </div>
                                                <label class="small mb-2">Choose which issues you will receive email updates about</label>
                                                <div class="form-check mb-2">
                                                    <input th:name="allIssues" th:checked="${user.isAllIssuesEnabled()}" onclick="checkAllIssuesCheckbox(this); uncheckAllIfNoIssuesAreChecked();"
                                                           class="form-check-input" id="allIssues" type="checkbox" />
                                                    <label class="form-check-label" for="allIssues">All issues</label>
                                                </div>
                                                <div class="form-check mb-2">
                                                    <input th:name="assignedIssues" th:checked="${user.isAssignedIssuesEnabled()}" onclick="uncheckAllIfNoIssuesAreChecked()"
                                                           class="form-check-input" id="assignedIssues" type="checkbox" />
                                                    <label class="form-check-label" for="assignedIssues">Issues assigned to you</label>
                                                </div>
                                                <div class="form-check mb-4">
                                                    <input th:name="authoredIssues" th:checked="${user.isAuthoredIssuesEnabled()}" onclick="uncheckAllIfNoIssuesAreChecked()"
                                                           class="form-check-input" id="authoredIssues" type="checkbox" />
                                                    <label class="form-check-label" for="authoredIssues">Issues created by you</label>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <!-- Notifications preferences card-->
                                <div class="card">
                                    <div class="card-header">Notification Preferences</div>
                                    <div class="card-body">
                                        <form action="#" th:action="@{'/account/notifications/' + ${user.id} + '/save'}" th:object="${user}" method="post">
                                            <!-- Submit button-->
                                            <div class="d-grid">
                                                <button onclick="uncheckAllCheckboxes()" class="btn btn-danger-soft text-danger" type="submit">Unsubscribe from all notifications</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="footer-admin mt-auto footer-light">
                    <div class="container-xl px-4">
                        <div class="text-end small">
                            <a href="/privacy" target="_blank">Privacy Policy</a>
                            <!--&middot;-->
                            <!--<a href="#!">Terms &amp; Conditions</a>-->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script>
            let allIssues = document.getElementById("allIssues");
            let assignedIssues = document.getElementById("assignedIssues");
            let authoredIssues = document.getElementById("authoredIssues");

            window.onload = function () {
                // if the "All Issues" checkbox is checked upon page load, disable and check the
                // "Issues assigned to you" and "Issues created by you" checkboxes
                if(allIssues.checked === true) {
                    assignedIssues.disabled = true;
                    assignedIssues.checked = true;

                    authoredIssues.disabled = true;
                    authoredIssues.checked = true;
                }
                uncheckAllIfNoIssuesAreChecked();
            };

            function uncheckAllCheckboxes() {
                allIssues.checked = false;
                assignedIssues.checked = false;
                authoredIssues.checked = false;
                document.getElementById("created").checked = false;
                document.getElementById("updated").checked = false;
                document.getElementById("comments").checked = false;
            }

            // if the "All Issues" checkbox is checked, disable and check the "Issues assigned to you" and
            // "Issues created by you" checkboxes
            function checkAllIssuesCheckbox() {
                if(allIssues.checked === true) {
                    assignedIssues.disabled = true;
                    assignedIssues.checked = true;

                    authoredIssues.disabled = true;
                    authoredIssues.checked = true;
                } else {
                    assignedIssues.disabled = false;
                    assignedIssues.checked = false;

                    authoredIssues.disabled = false;
                    authoredIssues.checked = false;
                }
            }

            // if all the "Choose which..." boxes are unchecked, disable and uncheck all the "Choose when..." checkboxes
            function uncheckAllIfNoIssuesAreChecked() {
                if(!allIssues.checked && !assignedIssues.checked && !authoredIssues.checked) {
                    document.getElementById("created").disabled = true;
                    document.getElementById("created").checked = false;

                    document.getElementById("updated").disabled = true;
                    document.getElementById("updated").checked = false;

                    document.getElementById("comments").disabled = true;
                    document.getElementById("comments").checked = false;
                } else if(allIssues.checked || assignedIssues.checked || authoredIssues.checked) {
                    document.getElementById("created").disabled = false;
                    document.getElementById("updated").disabled = false;
                    document.getElementById("comments").disabled = false;
                }
            }

            // adds a Close button for popup alerts
            let buttonElement = document.createElement("button");
            buttonElement.className = "btn-close";
            buttonElement.setAttribute("data-bs-dismiss", "alert");
            buttonElement.setAttribute("aria-label", "Close");
            buttonElement.setAttribute("type", "button");
            document.getElementById("popupAlerts").appendChild(buttonElement);
        </script>
    </body>
</html>
