<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Change Password - Issue Overflow</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/assets/img/swirl-logo.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-gradient-primary-to-secondary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container-xl px-4">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">

                                <!-- Popup alert if passwords do not match -->
                                <div th:if="${passwordsDoNotMatch}" th:text="${passwordsDoNotMatch}" id="changePassword" class="alert alert-danger alert-dismissible fade show text-center mt-4" role="alert">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>

                                <!-- Social forgot password form-->
                                <div class="card my-5">
                                    <div class="card-body p-5 text-center">
                                        <div class="h3 fw-light mb-0">Change Password</div>
                                    </div>
                                    <hr class="my-0" />
                                    <div class="card-body p-5">
                                        <!-- Forgot password form-->
                                        <form th:action="@{'/change-password'}" method="post">
                                            <input type="hidden" name="token" th:value="${token}">
                                            <!-- Form Group (new password)-->
                                            <div class="mb-3">
                                                <label class="text-gray-600 small mb-1" for="newPassword">New Password</label>
                                                <input name="password" class="form-control form-control-solid" id="newPassword" type="password" placeholder="Enter new password" required/>
                                            </div>
                                            <!-- Form Group (confirm password)-->
                                            <div class="mb-3">
                                                <label class="text-gray-600 small mb-1" for="confirmPassword">Confirm Password</label>
                                                <input name="confirmPassword" class="form-control form-control-solid" id="confirmPassword" type="password" placeholder="Confirm new password" required/>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Change Password</button>
                                        </form>
                                    </div>
                                    <hr class="my-0" />
                                    <div class="card-body px-5 py-4">
                                        <div class="small text-center">
                                            <a href="/login"><i data-feather="arrow-left"></i> Back to Login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="footer-admin mt-auto footer-dark">
                    <div class="container-xl px-4">
                        <div class="text-center small">
                            <a href="/privacy" target="_blank">Privacy Policy</a>
                            <!--&middot;-->
                            <!--<a href="#!">Terms &amp; Conditions</a>-->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script>
            let buttonElement = document.createElement("button");
            buttonElement.className = "btn-close";
            buttonElement.setAttribute("data-bs-dismiss", "alert");
            buttonElement.setAttribute("aria-label", "Close");
            buttonElement.setAttribute("type", "button");
            document.getElementById("changePassword").appendChild(buttonElement);
        </script>
    </body>
</html>