<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title th:text="'[' + ${currentUser.organization.name} + ']' + ' Dashboard | Issue Overflow'"></title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/assets/img/swirl-logo.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-primary bg-white" id="sidenavAccordion">
            <!-- Sidenav Toggle Button-->
            <button class="btn btn-icon btn-transparent-dark order-0 ms-2 me-0" id="sidebarToggle"><i data-feather="menu"></i></button>
            <!-- Navbar Brand-->
            <a class="navbar-brand pe-3 ps-0 ps-lg-2" href="/dashboard">
                <img src="/assets/img/swirl-logo.png" style="height: 1.0rem;" alt="">
                Issue Overflow
            </a>
            <!-- Navbar Items-->
            <ul class="navbar-nav align-items-center ms-auto">
                <!-- Contact Us Button-->
                <li class="nav-item no-caret">
                    <a class="btn btn-sm btn-transparent-dark" href="/contact-us" role="button">
                        <div class="fw-500">Contact Us</div>
                    </a>
                </li>

                <!-- Help Dropdown-->
                <li class="nav-item dropdown no-caret me-3 dropdown-notifications">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather-xl" data-feather="help-circle"></i></a>
                    <div class="dropdown-menu dropdown-menu-end py-0 me-sm-n15 me-lg-0 o-hidden animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                        <h6 class="dropdown-header dropdown-notifications-header">
                            <i class="me-2" data-feather="help-circle"></i>
                            Help
                        </h6>
                        <a class="dropdown-item py-3" href="/getting-started">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="book"></i></div>
                            <div>
                                <div class="small text-gray-500">Getting Started</div>
                                A guide for new users.
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="/knowledge-base">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="file-text"></i></div>
                            <div>
                                <div class="small text-gray-500">Knowledge Base</div>
                                Updates and changes
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="#">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="list"></i></div>
                            <div>
                                <div class="small text-gray-500">Issues</div>
                                Submit an Issue
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="https://github.com/sephraellumbres/IssueTrackingSystem" target="_blank">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="github"></i></div>
                            <div>
                                <div class="small text-gray-500">Github</div>
                                Code snippets and reference
                            </div>
                        </a>
                    </div>
                </li>

                <!-- User Dropdown-->
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:if="${currentUser.hasProfilePicture()}" th:src="@{'/files/' +${currentUser.id} + '/true'}"
                             src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                        <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                    </a>                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <div class="h6 dropdown-header d-flex align-items-center">
                            <img th:if="${currentUser.hasProfilePicture()}" th:src="@{'/files/' +${currentUser.id} + '/true'}"
                                 src="/assets/img/demo/user-placeholder.svg" class="dropdown-user-img" alt="">
                            <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg"
                                 class="dropdown-user-img" alt="">
                            <div class="dropdown-user-details">
                                <div th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}" class="dropdown-user-details-name"></div>
                                <div th:text="${currentUser.email}" class="dropdown-user-details-email"></div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/account/profile/' + ${currentUser.id}}">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Account
                        </a>
                        <form th:action="@{/logout}" name="logoutButton" method="post">
                            <a href="javascript: logoutButton.submit();" class="dropdown-item">
                                <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                                Logout
                            </a>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <!-- START OF THE NORMAL SIDENAV -->
                            <!-- Sidenav Link (Dashboard)-->
                            <a class="nav-link active" href="/dashboard">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Dashboard
                            </a>
                            <!-- Sidenav Link (Add Issue)-->
                            <!-- IF CURRENT USER IS INVOLVED IN MULTIPLE PROJECTS -->
                            <div sec:authorize="hasAnyAuthority('Project Manager', 'Admin', 'Developer')"
                                 th:if="${currentUserProjects.size() > 1}">
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                                   data-bs-target="#collapseAddIssue" aria-expanded="false" aria-controls="collapseAddIssue">
                                    <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                    Add Issue
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseAddIssue" data-bs-parent="#accordionSidenav">
                                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAddIssue">
                                        <a class="nav-link" th:href="@{'/issues/' + ${project.identifier} +'/new'}"
                                           th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}">
                                        </a>
                                    </nav>
                                </div>
                            </div>
                            <!-- IF CURRENT USER IS ONLY INVOLVED WITH A SINGLE PROJECT -->
                            <div sec:authorize="hasAnyAuthority('Project Manager', 'Admin', 'Developer')"
                                 th:if="${currentUserProjects.size() == 1}">
                                <a th:href="@{'/issues/' + ${currentUserProjects.get(0).identifier} + '/new'}" class="nav-link">
                                    <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                    Add Issue
                                </a>
                            </div>
                            <!-- Sidenav Link (Issues List)-->
                            <!-- IF CURRENT USER IS INVOLVED IN MULTIPLE PROJECTS -->
                            <div th:if="${currentUserProjects.size() > 1}">
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                                   data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                                    <div class="nav-link-icon"><i data-feather="list"></i></div>
                                    Issues
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseDashboards" data-bs-parent="#accordionSidenav">
                                    <a class="nav-link" th:href="@{'/issues/all'}">All Issues</a>
                                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                        <a class="nav-link" th:href="@{'/issues/' + ${project.identifier}}" th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}"></a>
                                    </nav>
                                </div>
                            </div>
                            <!-- IF CURRENT USER IS ONLY INVOLVED WITH A SINGLE PROJECT -->
                            <div th:if="${currentUserProjects.size() == 1}">
                                <a th:href="@{'/issues/' + ${currentUserProjects.get(0).identifier}}" class="nav-link">
                                    <div class="nav-link-icon"><i data-feather="list"></i></div>
                                    Issues
                                </a>
                            </div>
                            <!-- Sidenav Link (Organization)-->
                            <a class="nav-link" th:href="@{/organization}">
                                <div class="nav-link-icon"><i data-feather="globe"></i></div>
                                Organization
                            </a>
                            <!-- Sidenav Link (Projects)-->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                               data-bs-target="#collapseProjects" aria-expanded="false" aria-controls="collapseProjects">
                                <div class="nav-link-icon"><i data-feather="grid"></i></div>
                                Projects
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseProjects" data-bs-parent="#accordionSidenav">
                                <a class="nav-link" th:href="@{'/projects/all'}">All Projects</a>
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavProjects">
                                    <a class="nav-link" th:href="@{'/projects/' + ${project.identifier}}" th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}"></a>
                                </nav>
                            </div>
                            <!-- Sidenav Link (Users)-->
                            <a class="nav-link" href="/users">
                                <div class="nav-link-icon"><i data-feather="users"></i></div>
                                Users
                            </a>
                            <!-- Sidenav Link (Account) -->
                            <a class="nav-link" th:href="@{'/account/profile/' + ${currentUser.id}}">
                                <div class="nav-link-icon"><i data-feather="settings"></i></div>
                                Account
                            </a>

                        </div>
                    </div>
                    <!-- Sidenav Footer-->
                    <div class="sidenav-footer">
                        <div class="sidenav-footer-content">
                            <div class="sidenav-footer-subtitle">Logged in as:</div>
                            <div th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}" class="sidenav-footer-title"></div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container-xl px-4">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                                            <span th:text="${currentUser.getOrganization().getName()}"></span>
                                        </h1>
<!--                                        <div class="page-header-subtitle">Example dashboard overview and content summary</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-n10">
                        <div class="row">
                            <div class="col-xl-6 mb-4">
                                <div class="card card-header-actions h-100">
                                    <div class="card-header">
                                        Projects
                                        <div class="dropdown no-caret">
                                            <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="projectsDropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="text-gray-500" data-feather="more-vertical"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                                                <a sec:authorize="hasAuthority('Project Manager')" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#createProjectModal" class="dropdown-item">
                                                    <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="plus"></i></div>
                                                    Create Project
                                                </a>
                                                <a style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#joinProjectModal" class="dropdown-item">
                                                    <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="users"></i></div>
                                                    Join Project
                                                </a>
                                                <a class="dropdown-item" href="/projects">
                                                    <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="eye"></i></div>
                                                    View Projects
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Create project modal-->
                                    <div sec:authorize="hasAuthority('Project Manager')" class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="createProjectModalLabel">Create New Project</h5>
                                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form action="#" th:action="@{/projects/new}" th:object="${newProject}" method="post">
                                                    <div class="modal-body">
                                                        <div class="mb-0">
                                                            <label class="mb-1" for="createFormProjectName" style="font-size: 14px">Project Name<span style="color: red">*</span></label>
                                                            <input th:field="*{name}" class="form-control mb-3" id="createFormProjectName" type="text" placeholder="Enter project name..." required/>

                                                            <label class="mb-1" for="createFormProjectIdentifier" style="font-size: 14px">Project ID<span style="color: red">*</span></label>
                                                            <input th:field="*{identifier}" style="text-transform: uppercase;" class="form-control" id="createFormProjectIdentifier" type="text" required/>
                                                            <p class="form-text mb-n2" style="font-size: 12px">The project ID is a unique identifier for a project. A short, concise key is recommended.</p>
                                                            <p class="form-text" style="font-size: 12px">(e.g. Project ID for 'Call of Duty' could be 'COD') Uppercase letters (A-Z), numbers (0-9) and underscore (_) can be used.</p>

                                                            <label class="mb-1" for="createFormProjectAccessKey" style="font-size: 14px">Project Access Key<span style="color: red">*</span></label>
                                                            <input th:field="*{accessKey}" class="form-control" id="createFormProjectAccessKey" type="text" placeholder="Enter project access key..." required/>
                                                            <p class="form-text mb-3" style="font-size: 12px">The project access key is a password that could be shared to allow other users in an Organization to join a project.</p>

                                                            <label class="mb-1" for="color" style="font-size: 14px;">Project Color<span style="color: red">*</span></label>
                                                            <select th:field="*{color}" name="color" class="form-control mb-auto" id="color">
                                                                <option value="" disabled>Select a color:</option>
                                                                <option value="blue">Blue</option>
                                                                <option value="cyan">Cyan</option>
                                                                <option value="green">Green</option>
                                                                <option value="indigo">Indigo</option>
                                                                <option value="orange">Orange</option>
                                                                <option value="pink">Pink</option>
                                                                <option value="purple">Purple</option>
                                                                <option value="red">Red</option>
                                                                <option value="teal">Teal</option>
                                                                <option value="yellow">Yellow</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                                                        <button class="btn btn-primary-soft text-primary" type="submit">Create New Project</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Join project modal-->
                                    <div class="modal fade" id="joinProjectModal" tabindex="-1" role="dialog" aria-labelledby="joinProjectModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="joinProjectModalLabel">Join Project</h5>
                                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form action="#" th:action="@{/projects/join}" th:object="${newProject}" method="post">
                                                    <div class="modal-body">
                                                        <div class="mb-0">
                                                            <label class="mb-1" for="joinFormProjectName" style="font-size: 14px">Project Access Key<span style="color: red">*</span></label>
                                                            <input th:name="accessKey" class="form-control" id="joinFormProjectName" type="text" placeholder="Enter project access key..." required/>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                                                        <button class="btn btn-primary-soft text-primary" type="submit">Join Project</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body h-100 p-2">

                                        <div th:if="${currentUserProjects.size() == 0}" class="text-center">
                                            <div>There are no projects at the moment.</div>
                                            <a sec:authorize="hasAuthority('Project Manager')" class="text-primary" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#createProjectModal">Create a new Project</a>
                                            <span sec:authorize="hasAuthority('Project Manager')">or</span>
                                            <a class="text-primary" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#joinProjectModal">Join a Project</a>
                                        </div>

                                        <ul th:each="project : ${currentUserProjects}" class="list-group">
                                            <li th:if="${currentUserProjects.size() > 0}" th:href="@{'/projects/' + ${project.identifier}}" onclick="rowClicked(this.getAttribute('href'))" style="cursor: pointer"
                                                class="border-0 list-group-item list-group-item-action flex-column align-items-start rounded" aria-current="true">
                                                <div class="d-flex w-100 justify-content-between align-items-center">
                                                    <h6 th:text="${project.name}" class="mb-0"></h6>
                                                    <span>
                                                        <a th:href="@{'/issues/' + ${project.identifier} + '/results?status=Open'}"
                                                           th:text="${issueRepository.findByProjectAndStatus(project, 'Open').size()}"
                                                           title="View 'Open' Issues" class="badge btn btn-danger rounded-pill">
                                                        </a>
                                                        <a th:href="@{'/issues/' + ${project.identifier} + '/results?status=In-Progress'}"
                                                           th:text="${issueRepository.findByProjectAndStatus(project, 'In-Progress').size()}"
                                                           title="View 'In Progress' Issues" class="badge btn btn-warning rounded-pill">
                                                        </a>
                                                        <a th:href="@{'/issues/' + ${project.identifier} + '/results?status=Resolved'}"
                                                           th:text="${issueRepository.findByProjectAndStatus(project, 'Resolved').size()}"
                                                           title="View 'Resolved' Issues" class="badge btn btn-secondary rounded-pill">
                                                        </a>
                                                        <a th:href="@{'/issues/' + ${project.identifier} + '/results?status=Closed'}"
                                                           th:text="${issueRepository.findByProjectAndStatus(project, 'Closed').size()}"
                                                           title="View 'Closed' Issues" class="badge btn btn-success rounded-pill">
                                                        </a>
                                                    </span>
                                                </div>
                                                <span>
                                                    <a sec:authorize="hasAnyAuthority('Project Manager', 'Admin', 'Developer')"
                                                       th:href="@{'/issues/' + ${project.identifier} + '/new'}" class="btn btn-xs btn-outline-primary">
                                                        Add Issue
                                                    </a>
                                                    <a th:href="@{'/issues/' + ${project.identifier}}" class="btn btn-xs btn-outline-primary">Issues</a>
                                                </span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <!-- Progress Tracker for Projects -->
                            <div class="col-xl-6 mb-4">
                                <div class="card card-header-actions h-100">
                                    <div class="card-header">
                                        Progress Tracker
                                    </div>
                                    <div class="card-body">
                                        <span th:each="project, list : ${currentUserProjects}">
                                            <span th:text="${#numbers.formatPercent(#lists.size(issueRepository.findByProjectAndStatus(project, 'Closed')) / (project.issues.size() * 1.0), 1, 0)}" class="float-end fw-bold"></span>
                                            <span th:text="${#lists.size(issueRepository.findByProjectAndStatus(project, 'Closed')) / (project.issues.size() * 1.0)}" class="projectProgressDecimal" hidden></span>
                                            <h4 th:text="${project.name}" class="small"></h4>
                                            <div th:classappend="${!list.last} ? 'mb-4'" class="progress">
                                                <div th:attrappend="style='width: ' + ${#numbers.formatPercent(#lists.size(issueRepository.findByProjectAndStatus(project, 'Closed')) / (project.issues.size() * 1.0), 1, 0)}"
                                                     class="progress-bar projectProgressBar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Recent Activity Card -->
                            <div class="col-xl-6 mb-4">
                                <div class="card">
                                    <div class="card-header">
                                        Recent Activity
                                    </div>
                                    <div class="card-body" style="height: 25em; overflow-y: scroll;">
                                        <div class="timeline timeline-xs">

                                            <div th:if="${issues.size() == 0 || currentUserProjects.size() == 0}" class="text-center">Issue Updates are displayed here. There are no updates currently.</div>

                                            <!-- Timeline item for newly created and updated Issues -->
                                            <div th:each="issue, list : ${issues}" th:if="${currentUser.getProjects().contains(issue.project)}" class="timeline-item">
                                                <div class="timeline-item-marker">
                                                    <div th:text="${issueService.getIssueDateTimeString(issue)}" class="timeline-item-marker-text"></div>
                                                    <div th:if="${issue.dateCreated.until(issue.getDateUpdated(), seconds) == 0}" class="timeline-item-marker-indicator bg-success"></div>
                                                    <div th:unless="${issue.dateCreated.until(issue.getDateUpdated(), seconds) == 0}" class="timeline-item-marker-indicator bg-secondary"></div>
                                                </div>
                                                <div th:if="${issue.dateCreated.until(issue.getDateUpdated(), seconds) == 0}" class="timeline-item-content">
                                                    New issue opened!
                                                    <a th:href="@{'/issues/' + ${issue.project.identifier} + '/view/' + ${issue.issueKey}}"
                                                       class="fw-bold text-dark">
                                                        <u th:text="${issue.issueKey}"></u>
                                                    </a>
                                                    has been opened by <strong th:text="${issue.user.firstName} + ' ' + ${issue.user.lastName}"></strong>.
                                                </div>
                                                <div th:unless="${issue.dateCreated.until(issue.getDateUpdated(), seconds) == 0}" class="timeline-item-content">
                                                    Details for
                                                    <a th:href="@{'/issues/' + ${issue.project.identifier} + '/view/' + ${issue.issueKey}}"
                                                       class="fw-bold text-dark">
                                                        <u th:text="${issue.issueKey}"></u>
                                                    </a>
                                                    have been updated.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ISSUES THAT THE CURRENT USER HAS CREATED OR HAS BEEN ASSIGNED TO -->
                            <div class="col-xl-6 mb-4">
                                <div class="card h-100">
                                    <div class="card-header">
                                        My Issues
                                    </div>
                                    <div class="card-body" style="height: 25em; overflow-y: scroll;">
                                        <dl class="mb-0">
                                            <dt>Filters:
                                                <span>
                                                    <button id="showAssignedIssuesButton" class="btn btn-xs btn-primary" onclick="showAssignedToIssues()"><span>Assigned to me (<span th:text="${assignedToCurrentUser.size()}"></span>)</span></button>
                                                    <button id="showCreatedByIssuesButton" class="btn btn-xs" onclick="showCreatedByIssues()"><span>Opened by me (<span th:text="${createdByCurrentUser.size()}"></span>)</span></button>
                                                </span>
                                            </dt>
                                        </dl>
                                        <!-- LIST OF ISSUES ASSIGNED TO THE CURRENT USER -->
                                        <div id="assignedToIssues" style="">
                                            <table id="dashboardIssuesDataTable" style="font-size: 0.75rem;">
                                                <thead>
                                                <tr>
                                                    <th class="align-middle text-center">Key</th>
                                                    <th class="align-middle text-center">Title</th>
                                                    <th class="align-middle text-center">Priority</th>
                                                    <th class="align-middle text-center">Status</th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th>Key</th>
                                                    <th>Title</th>
                                                    <th>Priority</th>
                                                    <th>Status</th>
                                                </tr>
                                                </tfoot>
                                                <tbody>
                                                <tr th:each="issue : ${assignedToCurrentUser}" style="cursor: pointer;"
                                                    th:href="@{'/issues/' + ${issue.project.identifier} + '/view/' + ${issue.issueKey}}"
                                                    onclick="issueRowClicked(this.getAttribute('href'))">
                                                    <td class="align-middle text-center">
                                                        <span th:text="${issue.issueKey}" class="badge"
                                                              th:classappend="'bg-' + ${issue.project.color} + '-soft' + ' text-' + ${issue.project.color}">
                                                        </span>
                                                    </td>
                                                    <td th:text="${issue.title}" class="align-middle"></td>
                                                    <td th:switch="${issue.priority}" class="align-middle text-center">
                                                        <span th:case="Low" class="badge bg-green-soft text-green">Low</span>
                                                        <span th:case="Normal" class="badge bg-yellow-soft text-yellow">Normal</span>
                                                        <span th:case="High" class="badge bg-red-soft text-red">High</span>
                                                    </td>
                                                    <td th:switch="${issue.status}" class="align-middle text-center">
                                                        <span th:case="Open" class="badge bg-danger-soft text-danger">Open</span>
                                                        <span th:case="In-Progress" class="badge bg-warning-soft text-warning">In Progress</span>
                                                        <span th:case="Resolved" class="badge bg-secondary-soft text-secondary">Resolved</span>
                                                        <span th:case="Closed" class="badge bg-success-soft text-success">Closed</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- LIST OF ISSUES OPENED BY THE CURRENT USER -->
                                        <div id="createdByIssues" style="display: none;">
                                            <table id="dashboardIssuesDataTable1" style="font-size: 0.75rem;">
                                                <thead>
                                                <tr>
                                                    <th class="align-middle text-center">Key</th>
                                                    <th class="align-middle text-center">Title</th>
                                                    <th class="align-middle text-center">Priority</th>
                                                    <th class="align-middle text-center">Status</th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th>Key</th>
                                                    <th>Title</th>
                                                    <th>Priority</th>
                                                    <th>Status</th>
                                                </tr>
                                                </tfoot>
                                                <tbody>
                                                <tr th:each="issue : ${createdByCurrentUser}" style="cursor: pointer;"
                                                    th:href="@{'/issues/' + ${issue.project.identifier} + '/view/' + ${issue.issueKey}}"
                                                    onclick="issueRowClicked(this.getAttribute('href'))">
                                                    <td class="align-middle text-center">
                                                        <span th:text="${issue.issueKey}" class="badge"
                                                              th:classappend="'bg-' + ${issue.project.color} + '-soft' + ' text-' + ${issue.project.color}">
                                                        </span>
                                                    </td>
                                                    <td th:text="${issue.title}" class="align-middle"></td>
                                                    <td th:switch="${issue.priority}" class="align-middle text-center">
                                                        <span th:case="Low" class="badge bg-green-soft text-green">Low</span>
                                                        <span th:case="Normal" class="badge bg-yellow-soft text-yellow">Normal</span>
                                                        <span th:case="High" class="badge bg-red-soft text-red">High</span>
                                                    </td>
                                                    <td th:switch="${issue.status}" class="align-middle text-center">
                                                        <span th:case="Open" class="badge bg-danger-soft text-danger">Open</span>
                                                        <span th:case="In-Progress" class="badge bg-warning-soft text-warning">In Progress</span>
                                                        <span th:case="Resolved" class="badge bg-secondary-soft text-secondary">Resolved</span>
                                                        <span th:case="Closed" class="badge bg-success-soft text-success">Closed</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Number of Issues of each Status Cards -->
                        <div th:if="${!currentUser.getProjects().isEmpty()}" class="row">
                            <!-- OPEN ISSUES -->
                            <div class="col-lg-6 col-xl-3 mb-4">
                                <div class="card bg-danger text-white h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="me-3">
                                                <div class="text-white-75 small">Open</div>
                                                <div th:text="${numberOfOpenIssues}" class="text-lg fw-bold"></div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="alert-circle"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between small">
                                        <a class="text-white stretched-link" href="/issues/all/results?status=Open">View</a>
                                        <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- IN PROGRESS ISSUES -->
                            <div class="col-lg-6 col-xl-3 mb-4">
                                <div class="card bg-warning text-white h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="me-3">
                                                <div class="text-white-75 small">In Progress</div>
                                                <div th:text="${numberOfInProgressIssues}" class="text-lg fw-bold"></div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="clock"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between small">
                                        <a class="text-white stretched-link" href="/issues/all/results?status=In-Progress">View</a>
                                        <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- RESOLVED ISSUES -->
                            <div class="col-lg-6 col-xl-3 mb-4">
                                <div class="card bg-secondary text-white h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="me-3">
                                                <div class="text-white-75 small">Resolved</div>
                                                <div th:text="${numberOfResolvedIssues}" class="text-lg fw-bold"></div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="check-circle"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between small">
                                        <a class="text-white stretched-link" href="/issues/all/results?status=Resolved">View</a>
                                        <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- CLOSED ISSUES -->
                            <div class="col-lg-6 col-xl-3 mb-4">
                                <div class="card bg-success text-white h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="me-3">
                                                <div class="text-white-75 small">Closed</div>
                                                <div th:text="${numberOfClosedIssues}" class="text-lg fw-bold"></div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="x-circle"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between small">
                                        <a class="text-white stretched-link" href="/issues/all/results?status=Closed">View</a>
                                        <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Users Table -->
                        <div class="card mb-4">
                            <div class="card-header">Members</div>
                            <div class="card-body">
                                <table id="datatablesSimple" style="font-size: 0.75rem;">
                                    <thead>
                                    <tr>
                                        <th class="align-middle text-center">Name</th>
                                        <th class="align-middle text-center">Email</th>
                                        <th class="align-middle text-center">Role</th>
                                        <th class="align-middle text-center">Projects</th>
                                        <th class="align-middle text-center" sec:authorize="hasAuthority('Project Manager')">Actions</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Projects</th>
                                        <th sec:authorize="hasAuthority('Project Manager')">Actions</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr th:each="user: ${usersByOrganization}">
                                        <td class="align-middle">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2">
                                                    <img th:if="${user.hasProfilePicture()}" th:src="@{'/files/' +${user.id} + '/true'}"
                                                         src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="">
                                                    <img th:unless="${user.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg"
                                                         class="avatar-img img-fluid" alt="">
                                                </div>
                                                <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
                                            </div>
                                        </td>
                                        <td th:text="${user.email}" class="align-middle"></td>
                                        <td th:text="${user.role.name}" class="align-middle"></td>
                                        <td class="align-middle">
                                            <span th:each="project : ${currentUser.organization.getProjects()}">
                                                <span th:if="${project.users.contains(user)}" th:text="${project.name}" th:classappend="'bg-' + ${project.color} + '-soft' + ' text-' + ${project.color}" class="badge"></span>
                                            </span>
                                        </td>
                                        <td sec:authorize="hasAuthority('Project Manager')" class="align-middle text-center">
                                            <a th:href="@{'/users/edit/' + ${user.id}}" title="Edit"
                                               class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                                <i data-feather="edit"></i>
                                            </a>
                                            <a th:href="@{'/users/delete/' + ${user.id}}" title="Delete"
                                               class="btn btn-datatable btn-icon btn-transparent-dark"
                                               onclick="return confirm('Are you sure you want to delete this user?');">
                                                <i data-feather="trash-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="footer-admin mt-auto footer-light">
                    <div class="container-xl px-4">
                        <div class="text-end small">
                            <a href="#!">Privacy Policy</a>
                            &middot;
                            <a href="#!">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables/datatables-simple-demo.js"></script>
        <script type="text/javascript">
            // this loop determines project progress bar color by its percentage
            for(let i=0; i < document.getElementsByClassName("projectProgressDecimal").length; i++) {
                let element = document.getElementsByClassName("projectProgressDecimal").item(i).innerHTML.toString();
                let progressBar = document.getElementsByClassName("projectProgressBar").item(i);

                if(element <= 0.39) {
                    progressBar.className += " bg-danger";
                } else if(element <= 0.59) {
                    progressBar.className += " bg-warning";
                } else if(element <= 0.79) {
                    progressBar.className += " bg-secondary";
                } else if(element <= 0.99) {
                    progressBar.className += " bg-primary";
                } else {
                    progressBar.className += " bg-success";
                }
            }

            // makes every Project clickable and goes to the Project's Home page
            function rowClicked(value) {
                location.href = value;
            }

            function showAssignedToIssues() {
                let assignedToTable = document.getElementById("assignedToIssues");
                let createdByTable = document.getElementById("createdByIssues");

                if(assignedToTable.getAttribute("style") === "display: none;") {
                    createdByTable.setAttribute("style", "display: none;");
                    assignedToTable.setAttribute("style", "");
                }

                if(document.getElementById("showCreatedByIssuesButton").classList.contains("btn-primary")) {
                    document.getElementById("showCreatedByIssuesButton").classList.remove("btn-primary")
                }
                if(!document.getElementById("showAssignedIssuesButton").classList.contains("btn-primary")) {
                    document.getElementById("showAssignedIssuesButton").classList.add("btn-primary");
                }
            }

            function showCreatedByIssues() {
                let createdByTable = document.getElementById("createdByIssues");
                let assignedToTable = document.getElementById("assignedToIssues");

                if(createdByTable.getAttribute("style") === "display: none;") {
                    assignedToTable.setAttribute("style", "display: none;");
                    createdByTable.setAttribute("style", "");
                }

                if(document.getElementById("showAssignedIssuesButton").classList.contains("btn-primary")) {
                    document.getElementById("showAssignedIssuesButton").classList.remove("btn-primary");
                }
                if(!document.getElementById("showCreatedByIssuesButton").classList.contains("btn-primary")) {
                    document.getElementById("showCreatedByIssuesButton").classList.add("btn-primary");
                }
            }

            // makes every row in the Issue table, clickable and goes to the View Issue Details page
            function issueRowClicked(value) {
                location.href = value;
            }
        </script>
    </body>
</html>
