<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title th:text="'[' + ${currentProject.identifier} + '] ' + ${currentProject.name} + ' | Project Home | Issue Overflow'"></title>
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/assets/img/swirl-logo.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-primary bg-white" id="sidenavAccordion">
            <!-- Sidenav Toggle Button-->
            <button class="btn btn-icon btn-transparent-dark order-0 ms-2 me-0" id="sidebarToggle"><i data-feather="menu"></i></button>
            <!-- Navbar Brand-->
            <a class="navbar-brand pe-3 ps-0 ps-lg-2" href="/dashboard">
                <img src="/assets/img/swirl-logo.png" style="height: 1.0rem;" alt="">
                Issue Overflow
            </a>

            <!-- Navbar Items-->
            <ul class="navbar-nav align-items-center ms-auto">
                <!-- Contact Us Button-->
                <li class="nav-item no-caret">
                    <a class="btn btn-sm btn-transparent-dark" href="/contact-us" role="button">
                        <div class="fw-500">Contact Us</div>
                    </a>
                </li>

                <!-- Help Dropdown-->
                <li class="nav-item dropdown no-caret me-3 dropdown-notifications">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather-xl" data-feather="help-circle"></i></a>
                    <div class="dropdown-menu dropdown-menu-end py-0 me-sm-n15 me-lg-0 o-hidden animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                        <h6 class="dropdown-header dropdown-notifications-header">
                            <i class="me-2" data-feather="help-circle"></i>
                            Help
                        </h6>
                        <a class="dropdown-item py-3" href="/getting-started">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="book"></i></div>
                            <div>
                                <div class="small text-gray-500">Getting Started</div>
                                A guide for new users.
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="/knowledge-base">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="file-text"></i></div>
                            <div>
                                <div class="small text-gray-500">Knowledge Base</div>
                                Articles to help you understand
                                <br>
                                individual features and settings.
                            </div>
                        </a>
<!--                        <div class="dropdown-divider m-0"></div>-->
<!--                        <a class="dropdown-item py-3" href="https://github.com/sephraellumbres/Issue-Overflow" target="_blank">-->
<!--                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="github"></i></div>-->
<!--                            <div>-->
<!--                                <div class="small text-gray-500">Github</div>-->
<!--                                Code snippets and reference-->
<!--                            </div>-->
<!--                        </a>-->
                    </div>
                </li>
                <!-- User Dropdown-->
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:if="${currentUser.hasProfilePicture()}" th:src="@{'/storage/profile-picture/' + ${currentUser.id}}"
                             src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                        <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <div class="h6 dropdown-header d-flex align-items-center">
                            <img th:if="${currentUser.hasProfilePicture()}" th:src="@{'/storage/profile-picture/' + ${currentUser.id}}"
                                 src="/assets/img/demo/user-placeholder.svg" class="dropdown-user-img" alt="">
                            <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg"
                                 class="dropdown-user-img" alt="">
                            <div class="dropdown-user-details">
                                <div th:text="${currentUser.getFullName()}" class="dropdown-user-details-name"></div>
                                <div th:text="${currentUser.email}" class="dropdown-user-details-email"></div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/account/profile/' + ${currentUser.id}}">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Account
                        </a>
                        <form th:action="@{/logout}" name="logoutButton" method="post">
                            <a href="javascript: logoutButton.submit();" class="dropdown-item">
                                <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                                Logout
                            </a>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">


                            <!-- START OF THE NORMAL SIDENAV -->
                            <!-- Sidenav Link (Dashboard)-->
                            <a class="nav-link" href="/dashboard">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Dashboard
                            </a>
                            <!-- Sidenav Link (Add Issue)-->
                            <!-- IF CURRENT USER IS INVOLVED IN MULTIPLE PROJECTS -->
                            <div sec:authorize="hasAnyAuthority('Project Manager', 'Admin', 'Developer')"
                                 th:if="${currentUserProjects.size() > 1}">
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                                   data-bs-target="#collapseAddIssue" aria-expanded="false" aria-controls="collapseAddIssue">
                                    <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                    Add Issue
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseAddIssue" data-bs-parent="#accordionSidenav">
                                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAddIssue">
                                        <a class="nav-link" th:href="@{'/issues/' + ${project.identifier} +'/new'}"
                                           th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}">
                                        </a>
                                    </nav>
                                </div>
                            </div>
                            <!-- IF CURRENT USER IS ONLY INVOLVED WITH A SINGLE PROJECT -->
                            <div sec:authorize="hasAnyAuthority('Project Manager', 'Admin', 'Developer')"
                                 th:if="${currentUserProjects.size() == 1}">
                                <a th:href="@{'/issues/' + ${currentUserProjects.get(0).identifier} + '/new'}" class="nav-link">
                                    <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                    Add Issue
                                </a>
                            </div>
                            <!-- Sidenav Link (Issues List)-->
                            <!-- IF CURRENT USER IS INVOLVED IN MULTIPLE PROJECTS -->
                            <div th:if="${currentUserProjects.size() > 1}">
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                                   data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                                    <div class="nav-link-icon"><i data-feather="list"></i></div>
                                    Issues
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseDashboards" data-bs-parent="#accordionSidenav">
                                    <a class="nav-link" th:href="@{'/issues/all'}">All Issues</a>
                                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                        <a class="nav-link" th:href="@{'/issues/' + ${project.identifier}}" th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}"></a>
                                    </nav>
                                </div>
                            </div>
                            <!-- IF CURRENT USER IS ONLY INVOLVED WITH A SINGLE PROJECT -->
                            <div th:if="${currentUserProjects.size() == 1}">
                                <a th:href="@{'/issues/' + ${currentUserProjects.get(0).identifier}}" class="nav-link">
                                    <div class="nav-link-icon"><i data-feather="list"></i></div>
                                    Issues
                                </a>
                            </div>
                            <!-- Sidenav Link (Organization)-->
                            <a class="nav-link" href="/organization">
                                <div class="nav-link-icon"><i data-feather="globe"></i></div>
                                Organization
                            </a>
                            <!-- Sidenav Link (Projects)-->
                            <a class="nav-link active" href="javascript:void(0);" data-bs-toggle="collapse"
                               data-bs-target="#collapseProjects" aria-expanded="false" aria-controls="collapseProjects">
                                <div class="nav-link-icon"><i data-feather="grid"></i></div>
                                Projects
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse show" id="collapseProjects" data-bs-parent="#accordionSidenav">
                                <a class="nav-link" th:href="@{'/projects/all'}">All Projects</a>
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavProjects">
                                    <a class="nav-link" th:href="@{'/projects/' + ${project.identifier}}" th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}" th:classappend="${project.id==currentProject.id} ? active"></a>
                                </nav>
                            </div>
                            <!-- Sidenav Link (Users)-->
                            <a class="nav-link" href="/users">
                                <div class="nav-link-icon"><i data-feather="users"></i></div>
                                Users
                            </a>
                            <!-- Sidenav Link (Account) -->
                            <a class="nav-link" th:href="@{'/account/profile/' + ${currentUser.id}}">
                                <div class="nav-link-icon"><i data-feather="settings"></i></div>
                                Account
                            </a>

                        </div>
                    </div>
                    <!-- Sidenav Footer-->
                    <div class="sidenav-footer">
                        <div class="sidenav-footer-content">
                            <div class="sidenav-footer-subtitle">Logged in as:</div>
                            <div th:text="${currentUser.getFullName()}" class="sidenav-footer-title"></div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-fluid px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="home"></i></div>
                                            Project Home
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <a class="btn btn-sm btn-light text-primary" href="/projects/all">
                                            <i class="me-1" data-feather="users"></i>
                                            Manage Projects
                                        </a>
                                        <a class="btn btn-sm btn-light text-primary" th:href="@{'/issues/' + ${currentProject.getIdentifier()}}">
                                            <i class="me-1" data-feather="list"></i>
                                            Issues
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-fluid px-4">

                        <!-- ALERT MESSAGE IF THE CURRENT USER HAS NOTIFICATIONS ENABLED BUT EMAIL IS NOT VERIFIED -->
                        <div th:text="${verificationEmailSentSuccess}" th:if="${verificationEmailSentSuccess}" id="popupAlerts" class="alert alert-success alert-dismissible fade show text-center mt-n1" role="alert"></div>
                        <div th:text="${verificationEmailSentError}" th:if="${verificationEmailSentError}" id="popupAlerts" class="alert alert-danger alert-dismissible fade show text-center mt-n1" role="alert"></div>
                        <div th:if="${currentUser.isNotificationsEnabled() && !currentUser.isEmailVerified()}" class="alert alert-danger text-center mt-n2" role="alert">
                            <i data-feather="alert-triangle" class="feather-lg"></i>
                            Please verify email address to receive notifications. <a href="/resend-verification-email" style="cursor: pointer" class="alert-link">Resend verification email</a>.
                        </div>

                        <div class="card bg-gradient-primary-to-secondary mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="me-3">
                                        <div class="small text-white-50">Project Name:</div>
                                        <div th:text="${currentProject.name}" class="h1 text-white"></div>
                                    </div>
                                    <div class="text-white"><span th:text="${currentProject.getUsers().size()}"></span> Member(s)</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <!-- Recent Activity Card -->
                            <div class="col-xl-8 col-lg-12 mb-4">
                                <div class="card card-header-actions">
                                    <div class="card-header">
                                        Recent Activity
                                    </div>
                                    <div class="card-body" style="height: 25em; overflow-y: scroll;">
                                        <div class="timeline timeline-xs">

                                            <div th:if="${issues.size() == 0 || currentUserProjects.size() == 0}" class="text-center">Issue Updates are displayed here. There are no updates currently.</div>

                                            <!-- Timeline item for newly created and updated Issues -->
                                            <div th:each="issue, list : ${issues}" class="timeline-item">
                                                <div class="timeline-item-marker">
                                                    <div th:text="${issueService.getIssueDateTimeString(issue)}" class="timeline-item-marker-text"></div>
                                                    <div th:if="${issue.dateCreated.until(issue.getDateUpdated(), seconds) == 0}" class="timeline-item-marker-indicator bg-success"></div>
                                                    <div th:unless="${issue.dateCreated.until(issue.getDateUpdated(), seconds) == 0}" class="timeline-item-marker-indicator bg-secondary"></div>
                                                </div>
                                                <div th:if="${issue.dateCreated.until(issue.getDateUpdated(), seconds) == 0}" class="timeline-item-content">
                                                    New issue opened!
                                                    <a th:href="@{'/issues/' + ${issue.project.identifier} + '/view/' + ${issue.issueKey}}"
                                                       th:text="${issue.issueKey}" class="fw-bold text-dark">
                                                    </a>
                                                    has been opened by <strong th:text="${issue.user.getFullName()}"></strong>.
                                                </div>
                                                <div th:unless="${issue.dateCreated.until(issue.getDateUpdated(), seconds) == 0}" th:if="${issue.updatedBy != null}" class="timeline-item-content">
                                                    Details for
                                                    <a th:href="@{'/issues/' + ${issue.project.identifier} + '/view/' + ${issue.issueKey}}"
                                                       th:text="' ' + ${issue.issueKey}" class="fw-bold text-dark">
                                                    </a>
                                                    have been updated by <strong th:if="${issue.updatedBy != null}" th:text="${issue.updatedBy.getFullName()}"></strong>.
                                                </div>
                                                <div th:unless="${issue.dateCreated.until(issue.getDateUpdated(), seconds) == 0}" th:if="${issue.updatedBy == null}" class="timeline-item-content">
                                                    Details for
                                                    <a th:href="@{'/issues/' + ${issue.project.identifier} + '/view/' + ${issue.issueKey}}"
                                                       th:text="' ' + ${issue.issueKey}" class="fw-bold text-dark">
                                                    </a>
                                                    have been updated.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-12">
                                <div class="row">

                                    <!-- Progress Tracker for Projects -->
                                    <div class="col-12 mb-3">
                                        <div class="card">
                                            <div class="card-header">Progress Tracker</div>
                                            <div class="card-body mt-n2">
                                                <span th:text="${#numbers.formatPercent(#lists.size(issueRepository.findByProjectAndStatus(currentProject, 'Closed')) / (currentProject.issues.size() * 1.0), 1, 0)}" class="float-end fw-bold"></span>
                                                <span th:text="${#lists.size(issueRepository.findByProjectAndStatus(currentProject, 'Closed')) / (currentProject.issues.size() * 1.0)}" class="projectProgressDecimal" hidden></span>
                                                <h4 th:text="${currentProject.name}" class="small"></h4>
                                                <div class="progress mb-n1">
                                                    <div th:attrappend="style='width: ' + ${#numbers.formatPercent(#lists.size(issueRepository.findByProjectAndStatus(currentProject, 'Closed')) / (currentProject.issues.size() * 1.0), 1, 0)}"
                                                         class="progress-bar projectProgressBar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Team members / people dashboard card example-->
                                    <div class="col-12 mb-4">
                                        <div class="card">
                                            <div class="card-header">Members<span th:text="' (' + ${currentProject.getUsers().size()} + ')'"></span></div>
                                            <div class="card-body" style="height: 16em; overflow-y: scroll;">
                                                <!-- Item 1-->
                                                <div th:each="user, list : ${currentOrganizationMembers}" th:if="${user.getProjects().contains(currentProject)}" class="d-flex align-items-center justify-content-between">
                                                    <div th:classappend="${!list.last} ? 'mb-4'" class="d-flex align-items-center flex-shrink-0 me-3">
                                                        <div class="avatar avatar-xl me-3 bg-gray-200">
                                                            <img th:if="${user.hasProfilePicture()}" th:src="@{'/storage/profile-picture/' + ${user.id}}"
                                                                 src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="" />
                                                            <img th:unless="${user.hasProfilePicture()}"
                                                                 src="/assets/img/demo/user-placeholder.svg" class="avatar-img img-fluid" alt="">
                                                        </div>
                                                        <div class="d-flex flex-column fw-bold">
                                                            <div th:text="${user.getFullName()}" class="text-dark line-height-normal mb-1"></div>
                                                            <div th:text="${user.role.name}" class="small text-muted line-height-normal"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- Number of Issues of each Status Cards -->
                        <div class="row">
                            <!-- OPEN ISSUES -->
                            <div class="col-lg-6 col-xl-3 mb-4">
                                <div class="card bg-danger text-white h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="me-3">
                                                <div class="text-white-75 small">Open</div>
                                                <div th:text="${numberOfOpenIssues}" class="text-lg fw-bold"></div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="alert-circle"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between small">
                                        <a class="text-white stretched-link" th:href="@{'/issues/' + ${currentProject.identifier} + '/results?status=Open'}">View</a>
                                        <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- IN PROGRESS ISSUES -->
                            <div class="col-lg-6 col-xl-3 mb-4">
                                <div class="card bg-warning text-white h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="me-3">
                                                <div class="text-white-75 small">In Progress</div>
                                                <div th:text="${numberOfInProgressIssues}" class="text-lg fw-bold"></div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="clock"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between small">
                                        <a class="text-white stretched-link" th:href="@{'/issues/' + ${currentProject.identifier} + '/results?status=In-Progress'}">View</a>
                                        <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- RESOLVED ISSUES -->
                            <div class="col-lg-6 col-xl-3 mb-4">
                                <div class="card bg-secondary text-white h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="me-3">
                                                <div class="text-white-75 small">Resolved</div>
                                                <div th:text="${numberOfResolvedIssues}" class="text-lg fw-bold"></div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="check-circle"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between small">
                                        <a class="text-white stretched-link" th:href="@{'/issues/' + ${currentProject.identifier} + '/results?status=Resolved'}">View</a>
                                        <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- CLOSED ISSUES -->
                            <div class="col-lg-6 col-xl-3 mb-4">
                                <div class="card bg-success text-white h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="me-3">
                                                <div class="text-white-75 small">Closed</div>
                                                <div th:text="${numberOfClosedIssues}" class="text-lg fw-bold"></div>
                                            </div>
                                            <i class="feather-xl text-white-50" data-feather="x-circle"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between small">
                                        <a class="text-white stretched-link" th:href="@{'/issues/' + ${currentProject.identifier} + '/results?status=Closed'}">View</a>
                                        <div class="text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </main>
                <footer class="footer-admin mt-auto footer-light">
                    <div class="container-xl px-4">
                        <div class="text-end small">
                            <a href="/privacy" target="_blank">Privacy Policy</a>
                            <!--&middot;-->
                            <!--<a href="#!">Terms &amp; Conditions</a>-->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script type="text/javascript">
            let buttonElement = document.createElement("button");
            buttonElement.className = "btn-close";
            buttonElement.setAttribute("data-bs-dismiss", "alert");
            buttonElement.setAttribute("aria-label", "Close");
            buttonElement.setAttribute("type", "button");
            document.getElementById("popupAlerts").appendChild(buttonElement);

            // this loop determines project progress bar color by its percentage
            for(let i=0; i < document.getElementsByClassName("projectProgressDecimal").length; i++) {
                let element = document.getElementsByClassName("projectProgressDecimal").item(i).innerHTML.toString();
                let progressBar = document.getElementsByClassName("projectProgressBar").item(i);

                if(element <= 0.39) {
                    progressBar.className += " bg-danger";
                } else if(element <= 0.59) {
                    progressBar.className += " bg-warning";
                } else if(element <= 0.79) {
                    progressBar.className += " bg-secondary";
                } else if(element <= 0.99) {
                    progressBar.className += " bg-primary";
                } else {
                    progressBar.className += " bg-success";
                }
            }
        </script>
    </body>
</html>