<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Create Issue</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="https://unpkg.com/easymde/dist/easymde.min.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/assets/img/swirl-logo.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-primary bg-white" id="sidenavAccordion">
            <!-- Sidenav Toggle Button-->
            <button class="btn btn-icon btn-transparent-dark order-0 ms-2 me-0" id="sidebarToggle"><i data-feather="menu"></i></button>
            <!-- Navbar Brand-->
            <a class="navbar-brand pe-3 ps-0 ps-lg-2" href="/dashboard">
                <img src="/assets/img/swirl-logo.png" style="height: 1.0rem;" alt="">
                Issue Overflow
            </a>

            <!-- Navbar Items-->
            <ul class="navbar-nav align-items-center ms-auto">
                <!-- Contact Us Button-->
                <li class="nav-item no-caret">
                    <a class="btn btn-sm btn-transparent-dark" href="/contact-us" role="button">
                        <div class="fw-500">Contact Us</div>
                    </a>
                </li>

                <!-- Help Dropdown-->
                <li class="nav-item dropdown no-caret me-3 dropdown-notifications">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather-xl" data-feather="help-circle"></i></a>
                    <div class="dropdown-menu dropdown-menu-end py-0 me-sm-n15 me-lg-0 o-hidden animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                        <h6 class="dropdown-header dropdown-notifications-header">
                            <i class="me-2" data-feather="help-circle"></i>
                            Help
                        </h6>
                        <a class="dropdown-item py-3" href="/getting-started">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="book"></i></div>
                            <div>
                                <div class="small text-gray-500">Getting Started</div>
                                A guide for new users.
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="/knowledge-base">
                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="file-text"></i></div>
                            <div>
                                <div class="small text-gray-500">Knowledge Base</div>
                                Articles to help you understand
                                <br>
                                individual features and settings.
                            </div>
                        </a>
<!--                        <div class="dropdown-divider m-0"></div>-->
<!--                        <a class="dropdown-item py-3" href="https://github.com/sephraellumbres/Issue-Overflow" target="_blank">-->
<!--                            <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="github"></i></div>-->
<!--                            <div>-->
<!--                                <div class="small text-gray-500">Github</div>-->
<!--                                Code snippets and reference-->
<!--                            </div>-->
<!--                        </a>-->
                    </div>
                </li>
                <!-- User Dropdown-->
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:if="${currentUser.hasProfilePicture()}" th:src="@{'/files/' +${currentUser.id} + '/true'}"
                             src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                        <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg" class="img-fluid" alt="">
                    </a>                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <div class="h6 dropdown-header d-flex align-items-center">
                            <img th:if="${currentUser.hasProfilePicture()}" th:src="@{'/files/' +${currentUser.id} + '/true'}"
                                 src="/assets/img/demo/user-placeholder.svg" class="dropdown-user-img" alt="">
                            <img th:unless="${currentUser.hasProfilePicture()}" src="/assets/img/demo/user-placeholder.svg"
                                 class="dropdown-user-img" alt="">
                            <div class="dropdown-user-details">
                                <div th:text="${currentUser.getFullName()}" class="dropdown-user-details-name"></div>
                                <div th:text="${currentUser.email}" class="dropdown-user-details-email"></div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/account/profile/' + ${currentUser.id}}">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Account
                        </a>
                        <form th:action="@{/logout}" name="logoutButton" method="post">
                            <a href="javascript: logoutButton.submit();" class="dropdown-item">
                                <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                                Logout
                            </a>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">


                            <!-- START OF THE NORMAL SIDENAV -->
                            <!-- Sidenav Link (Dashboard)-->
                            <a class="nav-link" href="/dashboard">
                                <div class="nav-link-icon"><i data-feather="activity"></i></div>
                                Dashboard
                            </a>
                            <!-- Sidenav Link (Add Issue)-->
                            <!-- IF CURRENT USER IS INVOLVED IN MULTIPLE PROJECTS -->
                            <div th:if="${currentUserProjects.size() > 1}">
                                <a class="nav-link active" href="javascript:void(0);" data-bs-toggle="collapse"
                                   data-bs-target="#collapseAddIssue" aria-expanded="false" aria-controls="collapseAddIssue">
                                    <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                    Add Issue
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse show" id="collapseAddIssue" data-bs-parent="#accordionSidenav">
                                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavAddIssue">
                                        <a class="nav-link" th:classappend="${project.id==currentProject.id} ? active"
                                           th:href="@{'/issues/' + ${project.identifier} +'/new'}"
                                           th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}">
                                        </a>
                                    </nav>
                                </div>
                            </div>
                            <!-- IF CURRENT USER IS ONLY INVOLVED WITH A SINGLE PROJECT -->
                            <div th:if="${currentUserProjects.size() == 1}">
                                <a th:href="@{'/issues/' + ${currentUserProjects.get(0).identifier} + '/new'}" class="nav-link active">
                                    <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                    Add Issue
                                </a>
                            </div>
                            <!-- Sidenav Link (Issues List)-->
                            <!-- IF CURRENT USER IS INVOLVED IN MULTIPLE PROJECTS -->
                            <div th:if="${currentUserProjects.size() > 1}">
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                                   data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                                    <div class="nav-link-icon"><i data-feather="list"></i></div>
                                    Issues
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseDashboards" data-bs-parent="#accordionSidenav">
                                    <a class="nav-link" th:href="@{'/issues/all'}">All Issues</a>
                                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                        <a class="nav-link" th:href="@{'/issues/' + ${project.identifier}}" th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}"></a>
                                    </nav>
                                </div>
                            </div>
                            <!-- IF CURRENT USER IS ONLY INVOLVED WITH A SINGLE PROJECT -->
                            <div th:if="${currentUserProjects.size() == 1}">
                                <a th:href="@{'/issues/' + ${currentUserProjects.get(0).identifier}}" class="nav-link">
                                    <div class="nav-link-icon"><i data-feather="list"></i></div>
                                    Issues
                                </a>
                            </div>
                            <!-- Sidenav Link (Organization)-->
                            <a class="nav-link" href="/organization">
                                <div class="nav-link-icon"><i data-feather="globe"></i></div>
                                Organization
                            </a>
                            <!-- Sidenav Link (Projects)-->
                            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                               data-bs-target="#collapseProjects" aria-expanded="false" aria-controls="collapseProjects">
                                <div class="nav-link-icon"><i data-feather="grid"></i></div>
                                Projects
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseProjects" data-bs-parent="#accordionSidenav">
                                <a class="nav-link" th:href="@{'/projects/all'}">All Projects</a>
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavProjects">
                                    <a class="nav-link" th:href="@{'/projects/' + ${project.identifier}}" th:each="project : ${currentUserProjects}" th:value="${project.id}" th:text="${project.name}"></a>
                                </nav>
                            </div>
                            <!-- Sidenav Link (Users)-->
                            <a class="nav-link" href="/users">
                                <div class="nav-link-icon"><i data-feather="users"></i></div>
                                Users
                            </a>
                            <!-- Sidenav Link (Account) -->
                            <a class="nav-link" th:href="@{'/account/profile/' + ${currentUser.id}}">
                                <div class="nav-link-icon"><i data-feather="settings"></i></div>
                                Account
                            </a>

                        </div>
                    </div>
                    <!-- Sidenav Footer-->
                    <div class="sidenav-footer">
                        <div class="sidenav-footer-content">
                            <div class="sidenav-footer-subtitle">Logged in as:</div>
                            <div th:text="${currentUser.getFullName()}" class="sidenav-footer-title"></div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-fluid px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="file-plus"></i></div>
                                            Create Issue
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <a class="btn btn-sm btn-light text-primary" href="/issues/all">
                                            <i class="me-1" data-feather="arrow-left"></i>
                                            Back to All Issues
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-fluid px-4">
                        <form action="#" th:action="@{/issues/new}" th:object="${issue}" method="post"
                              enctype="multipart/form-data" class="row gx-4">
                            <!--  THIS ASSIGNS EACH ISSUE TO ITS CREATOR, THIS SHIT TOOK 30-40 HOURS TO FIGURE IT OUT-->
<!--                            <div hidden>-->
<!--                                <label for="createdBy"></label>-->
<!--                                <select name="user" id="createdBy" required>-->
<!--                                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.email}"-->
<!--                                            th:selected="${#strings.equals(#authentication.getName(), user.email)}">-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                            </div>-->

                            <div class="col-lg-9">
                                <div class="card mb-4">
                                    <label for="title" class="card-header">Title</label>
                                    <div class="card-body"><input th:field="*{title}" class="form-control" id="title" type="text" placeholder="Enter your title..." /></div>
                                </div>
                                <div class="card card-header-actions mb-4">
                                    <label for="markdownDescriptionEditor" class="card-header">
                                        Description
                                        <i class="text-muted" data-feather="info" data-bs-toggle="tooltip" data-bs-placement="left" title="Markdown is supported within the issue description editor."></i>
                                    </label>
                                    <div class="card-body">
                                        <textarea th:field="*{description}" id="markdownDescriptionEditor" placeholder="Enter a description..."></textarea>
                                    </div>
                                </div>

                                <div class="card mb-4">
                                    <label for="assignedTo" class="card-header">Assign To</label>
                                    <div class="card-body">
                                        <select th:field="*{assignedTo}" class="form-control" name="assignedTo" id="assignedTo" required>
                                            <option value=" " selected> </option>
                                            <option th:each="assignedUser : ${currentProject.getUsers()}" th:value="${assignedUser.id}"
                                                    th:text="${assignedUser.getFullName()}"
                                                    th:if="${assignedUser.getRole().name == 'Project Manager' ||
                                                        assignedUser.getRole().name == 'Admin' || assignedUser.getRole().name == 'Developer'}"></option>
                                        </select>
                                    </div>
                                </div>

                                <!--  THIS MAKES A GRID FOR THE DROPDOWN MENUS  -->
                                <div class="row row-cols-1 row-cols-md-2 g-4 text-center">
                                    <!--  This connects each newly created issue to the project of the current user's choosing  -->
                                    <div class="col">
                                        <div class="card">
                                            <label for="chooseProject" class="card-header">Project</label>
                                            <div class="card-body">
                                                <select name="project" class="form-control" id="chooseProject" required>
                                                    <option th:each="project : ${currentUserProjects}" th:value="${project.id}"
                                                            th:text="${project.name}" th:selected="${project.id==currentProject.id}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <label for="typeInput" class="card-header">Type</label>
                                            <div class="card-body">
                                                <select th:field="*{type}" class="form-control" id="typeInput">
                                                    <option value="Bug">Bug</option>
                                                    <option value="Task">Task</option>
                                                    <option value="Request">Request</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card mb-4">
                                            <label for="priorityInput" class="card-header">Priority</label>
                                            <div class="card-body">
                                                <select th:field="*{priority}" class="form-control" id="priorityInput">
                                                    <option value="Low">Low</option>
                                                    <option value="Normal" selected>Normal</option>
                                                    <option value="High">High</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card mb-4">
                                            <label for="statusInput" class="card-header">Status</label>
                                            <div class="card-body">
                                                <select th:field="*{status}" class="form-control" id="statusInput">
                                                    <option value="Open">Open</option>
                                                    <option value="In-Progress">In Progress</option>
                                                    <option sec:authorize="hasAnyAuthority('Project Manager', 'Admin', 'Developer')" value="Resolved">Resolved</option>
                                                    <option sec:authorize="hasAnyAuthority('Project Manager', 'Admin')" value="Closed">Closed</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-4">
                                    <label for="files" class="card-header">Attach File(s)</label>
                                    <div class="card-body">
                                        <input th:name="files" class="form-control" id="files" type="file" multiple/>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="nav-sticky card card-header-actions">
                                    <div class="card-header">
                                        Create Issue
                                    </div>
                                    <div class="card-body">
                                        <div class="d-grid"><button type="submit" class="fw-500 btn btn-primary">Submit</button></div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </main>
                <footer class="footer-admin mt-auto footer-light">
                    <div class="container-xl px-4">
                        <div class="text-end small">
                            <a href="#!">Privacy Policy</a>
                            &middot;
                            <a href="#!">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://unpkg.com/easymde/dist/easymde.min.js" crossorigin="anonymous"></script>
        <script src="/js/markdown.js"></script>
    </body>
</html>
